.idea
logs
*.iml
.project
.classpath
.settings
target
*/.settings
*/.classpath
*/.project
*/*.iml
*/*.ipr
*/*.iws
*/build
.DS_Store
*/logs
*.log
*/*.pyc
src/main/webapp/WEB-INF/classes
src/main/webapp/META-INF
*rebel*
